/* FONTES */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* PALETA DE CORES */
:root {
  --cor-base: #084e6f;
  --cor-primaria: #0f6e9c;
  --cor-secundaria: #e2f1f8;
  --texto-escuro: #1c1c1c;
  --texto-claro: #4f4f4f;
  --fundo-claro: #ffffff;
  --cor-detalhe: #ff8552;
}

/* GERAIS */

* {
  padding: 0rem;
  margin: 0rem;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto";
}

img {
  width: 6.25rem;
  display: block;
}

/* HEADER */

.header-principal {
  height: 100%;
  background: #084e6f;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navegacao-principal ul {
  display: flex;
  align-items: center;
}

.navegacao-principal img {
  height: 2.5rem;
}

#youtube-icon {
  width: 3.125rem;
  height: 3.125rem;
}

/* BANNER */

.banner {
  width: 100%;
  background: linear-gradient(#084e6f, #000);

  display: flex;
  align-content: baseline;
  align-items: center;
  justify-content: center;
}

.banner img {
  width: 62.5rem;
}

.banner section {
  text-align: center;
}

.banner section h3 {
  color: #fff;
  font-size: 3rem;
  font-family: "Poppins";
}

.banner section p {
  color: #eee;
  font-size: 2rem;
}

/* SKILLS */

.skills {
  background: #000;
  color: #ffffff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 10rem;
}

.skills img {
  width: 10rem;
}

.skills section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border-bottom: 1px solid #ffffff;
}

.skills section div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills section:nth-child(odd) {
  align-self: start;
  text-align: start;
}

.skills section:nth-child(even) {
  align-self: end;
  text-align: end;
}

.skills p {
  font-family: "Poppins";
  font-size: 2.5rem;
  width: 30rem;
}

.skills h4 {
  font-size: 2.5rem;
  color: #fff;
  font-family: "Poppins";
}

/* SOBRE */
